<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="雲油，屬於您的雲端油艙。" />
	<meta name="author" content="黃凱立 Kenny Huang" />
	<meta name="keywords" content="雲油,期貨,避險,油價,石油,汽油 " />
	<meta http-equiv="Content-Type" content="text/html" charset="uft-8" />
	<meta http-equiv="Content-Language" content="zh-TW" />
	<meta http-equiv="Refresh" content="time" />
	<title>CloudOil</title>
    <link rel=stylesheet type="text/css" href="css/order3.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Google字型-->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <!-- fontawesome圖示 -->
    <script src="https://kit.fontawesome.com/2e20183103.js" crossorigin="anonymous"></script>
    <!-- Google recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
	<!-- d3js用 -->
	<script src="https://d3js.org/d3.v4.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<script src="js/menu.js"></script>
</head>
<body onload="menu()">
	<header>
		<nav id="top_container">
			<ul id="top_left">
				<a href="index"><img src="img/logo_whitepage.png" width="150px" /></a>
				<li><a href="about">關於雲油</a></li>
				<li><a href="service">提供服務</a></li>
				<li><a href="question">常見問題</a></li>
				<li><a href="index#contact">聯絡我們</a></li>
			</ul>
			<ul th:id="${isLogin} ? 'top_right_login':'top_right'">
				<div id="login_before">
					<i class="fas fa-user-circle"></i>
					<li><a href="login">登入</a></li>
					<li>|</li>
					<li><a href="register">註冊</a></li>
				</div>
				<div id="login_after">
					<i class="fas fa-user-circle"></i>
					<a th:text="'嗨！'+${chineseName}">嗨！黃凱立</a>
					<div class="dropdown-content">
						<a href="myoil">我的油艙</a>
						<a href="order">立即下單</a>
						<a href="member">個人資料</a>
						<a href="history">歷史訂單</a>
						<a href="logout">登出</a>
					</div>
				</div>
			</ul>
		</nav>
	<!-- 手機版選單 -->
			<nav id="top_container_mobile">
				<div id="top_left_mobile">
					<a id="leftbtn" href="javascript:void(0)" onClick="document.getElementById('leftmenu').style.display='block'"><i class="fas fa-bars"></i></a>
					<div id="leftmenu">
						<a href="about">關於雲油</a>
						<a href="service">提供服務</a>
						<a href="question">常見問題</a>
						<a href="index#contact">聯絡我們</a>
					</div>
				</div>
				<div id="top_logo_mobile">
					<a href="index"><img src="img/logo_darkpage.png" width="150px" /></a>
				</div>
				<div id="top_right_mobile">
					<a id="rightbtn" href="javascript:void(0)" th:onClick="document.getElementById([[*{rightmenu}]]).style.display='block'"><i class="fas fa-user-circle"></i></a>
					<div th:id="${isLogin} ? 'rightmenu_login':'rightmenu'">
						<div id="login_before_mobile">
							<a href="login">登入</a>
							<a href="register">註冊</a>
						</div>
						<div id="login_after_mobile">
							<a href="myoil">我的油艙</a>
							<a href="order">立即下單</a>
							<a href="member">個人資料</a>
							<a href="history">歷史訂單</a>
							<a href="logout">登出</a>
						</div>
					</div>	
				</div>
			</nav>

	</header>
    <nav id="blocker"></nav>
	<main id="order">
        <script src="js/Multi_LineChart_Price.js"></script>
        <div id="order_container">
			<p>確認訂單</p>
			<div id="what_order_get">
				<div><p class="gray_small_text">您將獲得</p></div>
				<div>
					<p th:text="*{oilType}" class="blue_small_text">95無鉛汽油</p>
					<p class="gray_small_text">:</p>
					<p th:text="*{oilVolume}" class="blue_big_text">500</p>
					<p class="gray_small_text">公升</p>
					<p class="gray_small_text">(使用期間:</p>
					<p th:text="*{startMonth}+'-'+*{endMonth}" class="blue_small_text">2021/7&nbsp;-&nbsp;2021/8</p>
					<p class="gray_small_text">)</p>
				</div>
			</div>
			<div id="what_order_pay">
				<div>
					<div>
						<p class="gray_detail_text">支付方式</p>
						<p th:text="*{cardNumber}" class="black_detail_text">428368******2170</p>
					</div>
					<div>
						<p class="gray_detail_text">油價</p>
						<p th:text="每公升+*{cpcPrice}+元" class="black_detail_text">每公升28.1元</p>
					</div>
					<div>
						<p class="gray_detail_text">手續費</p>
						<p th:text="*{handleFee}" class="black_detail_text">50元</p>
					</div>
					<div>
						<p class="gray_detail_text">總花費</p>
						<p th:text="*{oilCost}"class="black_detail_text">14100元</p>
					</div>
				</div>
			</div>
			<div id="order_confirm">
				<form th:action="@{/order3}" method="POST">
					<div id="order_agree">
						<input type="checkbox" required/>
						<p>我已詳閱並同意雲油的</p>
						<a href="terms">服務條款</a>
						<p>及</p>
						<a href="privacy">隱私權說明</a>
						<p>，並且授權上述交易。</p>
					</div>
					<div class="input_flex">
						<a id="last_page" href="order2">上一步</a>
						<input id="order3_submit" type="submit" name="order3" value="確認付款"></input>
					</div>
				</form>
			</div>
        </div>
		<div id="order_progress">
			<p>如何透過信用卡/金融卡購買</p>
			<div id="progress_container">
				<div class="progress">
					<div class="progress_shape">
						<div class="progress_circle">✓</div>
						<div class="progress_line"></div>
					</div>
					<p>選擇油種、使用期間</p>
					<p>、每月預定油量</p>
				</div>
				<div class="progress">
					<div class="progress_shape">
						<div class="progress_circle">✓</div>
						<div class="progress_line"></div>
					</div>
					<p>輸入信用卡或</p>
					<p>金融卡資訊</p>
				</div>
				<div class="progress">
					<div class="progress_shape">
						<div class="progress_circle">3</div>
						<div class="unprogress_line"></div>
					</div>
					<p>確認訂單及</p>
					<p>付款詳情</p>
				</div>
				<div class="unprogress">
					<div class="progress_shape">
						<div class="unprogress_circle">4</div>
					</div>
					<p>通過3DS安全</p>
					<p>認證完成付款</p>
				</div>
			</div>
		</div>
    </main>
    <footer>
		<div id="bottom">
			<div id="bottom_container">
				<ul id="bottom_left">
					<li><a href="disclaimer">免責聲明</a></li>
					<li>|</li>
					<li><a href="terms">服務條款</a></li>
					<li>|</li>
					<li><a href="privacy">隱私權說明</a></li>
					<li>|</li>
					<li><a href="rights">法律保護條款</a></li>
				</ul>
				<p id="bottom_right">雲油科技股份有限公司 Copyright © 2021, Cloud Oil, All Rights Reserved</p>
			</div>
		</div>
	<div id="bottom_mobile">
			<div id="bottom_btn">
				<li><a href="disclaimer">免責聲明</a></li>
				<li>|</li>
				<li><a href="terms">服務條款</a></li>
				<li>|</li>
				<li><a href="privacy">隱私權說明</a></li>
				<li>|</li>
				<li><a href="rights">法律保護條款</a></li>
			</div>
			<p id="bottom_text">雲油科技股份有限公司 Copyright © 2021, Cloud Oil, All Rights Reserved</p>
		</div>
	</footer>
</body>
</html>