<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="雲油，屬於您的雲端油艙。" />
	<meta name="author" content="黃凱立 Kenny Huang" />
	<meta name="keywords" content="雲油,期貨,避險,油價,石油,汽油 " />
	<meta http-equiv="Content-Type" content="text/html" charset="uft-8" />
	<meta http-equiv="Content-Language" content="zh-TW" />
	<meta http-equiv="Refresh" content="time" />
	<title>CloudOil</title>
    <link rel=stylesheet type="text/css" href="css/privacy.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e20183103.js" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
	<!-- d3js用 -->
	<script src="https://d3js.org/d3.v4.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
	<header>
		<nav id="top_container">
			<ul id="top_left">
				<a href="index.html"><img src="img/logo_whitepage.png" width="150px" /></a>
				<li><a href="about.html">關於雲油</a></li>
				<li><a href="service.html">提供服務</a></li>
				<li><a href="question.html">常見問題</a></li>
				<li><a href="index.html#contact">聯絡我們</a></li>
			</ul>
			<ul id="top_right">
                <div id="login_before">
                    <i class="fas fa-user-circle"></i>
                    <li><a href="login.html">登入</a></li>
                    <li>|</li>
                    <li><a href="register.html">註冊</a></li>
                </div>
                <div id="login_after">
                    <i class="fas fa-user-circle"></i>
                    <a>嗨！黃凱立</a>
                    <div class="dropdown-content">
                        <a href="myoil.html">我的油艙</a>
                        <a href="order.html">立即下單</a>
                        <a href="member.html">個人資料</a>
                        <a href="history,html">歷史訂單</a>
                        <a href="logout.html">登出</a>
                    </div>
                </div>
            </ul>
		</nav>
	</header>
    <nav id="blocker"></nav>
    <main>
        <div id="title_container">
            <p>隱私權說明</p>
        </div>
        <div id="text_container">
            <ul class="list_group">
                <li>
                    遵循「個人資料保護法」之規定，日昇金互聯網股份有限公司以下簡稱「本公司」於提供使用者「日生金 Daily Gold」網站（https://www.dailygold.com.tw ）（下稱「本網站」）之服務時，係按照以下隱私權保護政策以下稱「本政策」執行對使用者隱私權之保護。
                </li>
            </ul>
            <ul class="list_group">
                <li>
                    使用者於使用本網站前，請詳細閱讀本政策，並隨時注意本網站所公告之相關修改或變更。本公司有權於任何時間修改變更本政策之內容，並於修訂公布後即為生效。
                </li>
            </ul>
            <ul class="list_group">
                <li>
                    當使用本網站時，即表示使用者已閱讀、瞭解並同意接受本政策內容，及同意本公司依據本政策蒐集、處理與利用您的個人資料。
                </li>
            </ul>
            <ul class="list_group">
                <li>
                    如果您無法遵守或不同意本政策之內容，或您所屬的國家、地區排除本政策內容之全部或一部時，請您立即停止使用本網站。
                </li>
            </ul>
            <ul class="list_group">
                <li>（一）</li>
                <li>
                    本政策適用於使用者使用本網站時，有關個人資料的蒐集、利用及保護，但不適用於與本網站連結之其他網站。其他網站有其專屬的隱私權保護政策，本公司不負任何連帶責任。
                </li>
            </ul>
            <ul class="list_group">
                <li>（二）</li>
                <li>
                    未經使用者同意，本公司不會將使用者個人資料提供予任何與本網站服務無關之第三人，但有下列情形者除外：<br>
                    1. 法令規定。<br>
                    2. 應政府機關、司法機關之要求。<br>
                    3. 本公司為行使法律上的權利或對訴訟上之請求提出防禦，或保護本公司的權利和財產，提供給我們的顧問、代理人或其他相關人士。<br>
                    4. 本公司為了調查或防止非法活動、詐欺行為、對人身安全有潛在威脅的情況或對本網站使用者服務條款的違反，或為了對上述情形採取應對措施。<br>
                    5. 如果本網站全部或部份業務被其他公司收購或合併，本公司會將您的個人資料移轉給該公司，而本公司將儘可能在您的個人資料被移轉且將適用不同的隱私權政策前通知您。<br>
                    6. 分享給我們聘僱來代表我們執行某些服務的第三方服務提供者（包括pay now） ，例如網路主機管理、資料分析、行銷、市場研究，以及為您提供的其他顧客服務；<br>
                    7. 在任何其他情況，提供給您事前以書面同意的任何第三方。
                </li>
            </ul>
            <ul class="list_group">
                <li>（三）</li>
                <li>
                    使用者應妥善保密自身帳號密碼及個人資料，切勿將任何個人資料，尤其是帳號密碼提供給任何人。使用完本網站所提供的各項服務功能後，使用者務必記得登出帳戶；若是與他人共享電腦或使用公共電腦，務必要關閉瀏覽器視窗。
                </li>
            </ul>
            <ul class="list_group">
                <li>（四）</li>
                <li>
                    對於使用者個人資料之處理及利用，本公司僅在蒐集特定目的資料及相關法令規定之範圍內為之。除本政策另有規定或其他法令有特別規定者外，未經使用者同意，本公司不會將使用者個人資料揭露於第三人或移作其他目的使用。
                </li>
            </ul>
            <ul class="list_group">
                <li>（五）</li>
                <li>
                    使用者可自行決定是否按照本公司要求提供相關個人資料。然若使用者未按本公司要求提供個人資料時，本公司得拒絕提供服務予使用者。
                </li>
            </ul>
            <ul class="list_group">
                <li>（六）</li>
                <li>
                    本公司於本網站內蒐集的個人資料之類別(依據法務部公告之「個人資料保護法之特定目的及個人資料之類別」詳列如下，代號及項目嗣後經法務部公告變更，亦隨同變更之)：<br>
                    1. C001辨識個人者：如：使用者之姓名、職稱、帳號、通訊住址、戶籍地址、工作地址、電話號碼、即時通帳號、電子郵件地址、相片、電子簽章、提供網路身分認證或申辦查詢服務之紀錄及其他任何可辨識資料為本人者等資訊。<br>
                    2. C002辨識財務者：如金融機構帳戶號碼、姓名及其他相關資訊、信用卡或簽帳卡之號碼。<br>
                    3. C003政府資料中之辨識者：如身分證統一編號、證照號碼、護照號碼等。<br>
                    4. C011個人描述：如年齡、性別、出生年月日、國籍等。<br>
                    5. C031住家及設施：例如：住所地址、設備之種類、所有或承租、住用之期間、租金或稅率及其他花費在房屋上之支出、房屋之種類、價值及所有人之姓名等。<br>
                    6. C039執照或其他許可：例如：駕駛執照、行車執照、自衛槍枝使用執照、釣魚執照等。<br>
                    7. C041法院、檢察署或其他審判機關或其他程序：例如：關於資料主體之訴訟及民事或刑事等相關資料等。<br>
                    8. C081收入、所得、資產與投資：例如總收入、總所得等。<br>
                    9. C083信用評等：例如：信用等級、財務狀況與等級、收入狀況與等級等。<br>
                    10. C091資料主體所取得之財貨或服務：例如：貨物或服務之有關細節、資料主體之貸款或僱用等有關細節等。<br>
                    11. C092資料主體提供之財貨或服務：例如：貨物或服務之有關細節等。<br>
                    12. C093財務交易：收付金額、支付方式、往來紀錄等。
                </li>
            </ul>
            <ul class="list_group">
                <li>（七）</li>
                <li>
                    本公司於本網站內蒐集的個人資料之特定目的(依據法務部公告之「個人資料保護法之特定目的及個人資料之類別」詳列如下，代號及項目嗣後經法務部公告變更，亦隨同變更之)包括：<br>
                    1. Ｏ二四「民意調查」。<br>
                    2. Ｏ四Ｏ「行銷」。<br>
                    3. Ｏ五二「法人對使用者名冊之內部管理」。<br>
                    4. Ｏ五五「法院執行業務」。<br>
                    5. Ｏ五六「法院審判業務」。<br>
                    6. Ｏ六九「契約、類似契約或其他法律關係事務」。<br>
                    7. Ｏ七二「政令宣導」。<br>
                    8. Ｏ八一「個人資料之合法交易業務」。<br>
                    9. Ｏ九Ｏ「消費者、客戶管理與服務」。<br>
                    10. Ｏ九四「財產管理」。<br>
                    11. Ｏ九五「財稅行政」。<br>
                    12. 一二Ｏ「稅務行政」。<br>
                    13. 一二六「債權整貼現及收買業務」。<br>
                    14. 一二九「會計與相關服務」。<br>
                    15. 一三五「資(通)訊服務」。<br>
                    16. 一三六「資(通)訊與資料庫管理」。<br>
                    17. 一三七「資通安全與管理」。<br>
                    18. 一四八「網路購物及其他電子商務服務」。<br>
                    19. 一五二「廣告或商業行為管理」。<br>
                    20. 一五四「徵信」。<br>
                    21. 一五七「調查、統計與研究分析」。<br>
                    22. 一七六「其他自然人基於正當性目的所進行個人資料之蒐集處理及利用」。<br>
                    23. 一八一「其他經營合於營業登記項目或組織章程所定之業務」。<br>
                    24. 一八二「其他諮詢與顧問服務」。
                </li>
            </ul>
            <ul class="list_group">
                <li>（八）</li>
                <li>
                    本公司不會將您的個人資料出售或出租給第三方。 當您使用本網站或購買服務時，對於使用者個人資料之利用，使用者同意如下：<br>
                    1. 對於使用者在本網站所登錄或留存之個人資料，本公司在為提供本服務行銷(包括但不限於創造您的使用者帳戶、為您提供服務、持續改進本網站和服務，並為服務相關事宜與您聯絡)、市場分析、統計或研究之目的範圍內，得記錄、保存及利用之。<br>
                    2. 本網站得向使用者發送本公司、關係企業或業務合作夥伴行銷活動及相關優惠訊息之電子報或商品訊息(EDM)或簡訊，並即時通知新服務及特別方案。本公司也可能不定時使用您的個人資料來聯絡您，
                    邀請您提供您使用本網站後的意見，以協助我們改進本網站。我們使用您的個人資料或其他資料，目的是要提供更妥善的顧客支援服務，如果您不希望收到前述訊息的通知，您可告知我們您不想再收到這些通知。<br>
                    3. 個人資料利用期間、地區、對象及方式<br>
                    期間：本公司將持續使用您提供的個人資料直至您提出本公司應停止利用或本公司終止提供服務之日為止。<br>
                    地區：中華民國境內及境外(主管機關禁止者不在此限)。<br>
                    對象：本公司、受本公司委託或提供本服務必要範圍內之關係企業及合作廠商。<br>
                    方式：符合蒐集特定目的資料及法令規定範圍之利用。
                </li>
            </ul>
            <ul class="list_group">
                <li>（九）</li>
                <li>
                    本公司所蒐集個人資料之當事人，依個人資料保護法得對本公司行使以下權利：<br>
                    1. 查詢或請求閱覽。<br>
                    2. 請求製給複製本。<br>
                    3. 請求補充或更正。<br>
                    4. 請求停止蒐集、處理或利用。<br>
                    5. 請求刪除。<br>
                    6. 使用者可於登入本網站後，即時查閱及變更部分個人資料檔案。惟部分資料變更須經本公司驗證身分後辦理。<br>
                    7. 使用者請求停止蒐集、處理或利用或刪除個人資料時，須經本公司驗證身分後辦理。<br>
                    8. 個人資料若經使用者請求補充或更正、停止蒐集、處理或利用、或刪除後，可能導致資料不足或有誤，進而不符合本公司要求時，本公司得停止提供服務予使用者。
                </li>
            </ul>
            <ul class="list_group">
                <li>（十）</li>
                <li>
                    使用者個人資料將會完整儲存於本公司資料儲存系統中，並會防止未經授權人員接觸該些資料。本公司人員均接受過資訊保密教育，且相關處理人員皆簽有保密合約，如有違反保密義務者，將受相關法律及公司內部規定之處分。
                </li>
            </ul>
            <ul class="list_group">
                <li>（十一）</li>
                <li>
                    使用者個人資料處理系統已設有各項必要的資訊安全及防護措施，並使用嚴格的程序及安全功能，努力防止他人未經授權的存取。但本公司未聲明、保證或承諾您提供給我們的個人資料隨時都會是安全的
                    ，且如果本公司已履行其義務，對於您因為您個人資料受到未經授權的存取或使用而遭受或產生的任何損失、損害、成本及費用，本公司在任何情況下均不須負任何責任。
                </li>
            </ul>
            <ul class="list_group">
                <li>（十二）</li>
                <li>
                    本網站使用者帳號資料採用密碼保護，且本網站將以合理之技術及程序，保障所有個人資料之安全。
                </li>
            </ul>
            <ul class="list_group">
                <li>（十三）</li>
                <li>
                    為了便利使用，本網站會使用cookie技術，以便於提供使用者所需要的服務。Cookie技術是網站伺服器用來和使用者瀏覽器進行溝通的一種技術
                    ，它可能在使用者的電腦中隨機儲存字串，用以辨識區別使用者。若使用者關閉cookie，有可能導致無法順利登入網站或無法使用部分功能等狀況。
                </li>
            </ul>
            <ul class="list_group">
                <li>（十四）</li>
                <li>
                    本公司將盡合理的努力，維持適當的實體、電子和組織程序，以確保您的個人資料及其他資料受到安全的處理，且符合本《隱私權政策與條款》，本公司也會防止此等資料不受到未經授權的存取，或未經授權的更改、揭露或破壞。
                    並會隨法令修訂及整體市場變化，視情況修訂本政策。使用者如果對於本網站隱私權聲明、或與個人資料有關之相關事項有任何疑問，請與本公司聯絡。
                </li>
            </ul>
        </div>
    </main>
    <footer>
		<div id="bottom">
			<div id="bottom_container">
				<ul id="bottom_left">
					<li><a href="disclaimer.html">免責聲明</a></li>
					<li>|</li>
					<li><a href="terms.html">服務條款</a></li>
					<li>|</li>
					<li><a href="privacy.html">隱私權說明</a></li>
					<li>|</li>
					<li><a href="rights.html">法律保護條款</a></li>
				</ul>
				<p id="bottom_right">雲油科技股份有限公司 Copyright © 2021, Cloud Oil, All Rights Reserved</p>
			</div>
		</div>
	</footer>
</body>
</html>