<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form th:object="${customer}" th:action="@{/register}" method="post">
        <div>
            <h3>username</h3>
            <input th:field="*{username}" name="username"></input>
        </div>
        <div>
            <h3>password</h3>
            <input th:field="*{password}" name="password"></input>
        </div>
        <div>
            <button>submit</button>
        </div>
    </form>
</body>
</html>