<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="雲油，屬於您的雲端油艙。" />
	<meta name="author" content="黃凱立 Kenny Huang" />
	<meta name="keywords" content="雲油,期貨,避險,油價,石油,汽油 " />
	<meta http-equiv="Content-Type" content="text/html" charset="uft-8" />
	<meta http-equiv="Content-Language" content="zh-TW" />
	<meta http-equiv="Refresh" content="time" />
	<title>CloudOil</title>
    <link rel=stylesheet type="text/css" href="css/register2.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e20183103.js" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
	<!-- d3js用 -->
	<script src="https://d3js.org/d3.v4.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
	<header>
		<nav id="top_container">
			<ul id="top_left">
				<a href="index.html"><img src="img/logo_whitepage.png" width="150px" /></a>
				<li><a href="about.html">關於雲油</a></li>
				<li><a href="service.html">提供服務</a></li>
				<li><a href="question.html">常見問題</a></li>
				<li><a href="index.html#contact">聯絡我們</a></li>
			</ul>
			<ul id="top_right">
				<div id="login_before">
					<i class="fas fa-user-circle"></i>
					<li><a href="login.html">登入</a></li>
					<li>|</li>
					<li><a href="register.html">註冊</a></li>
				</div>
				<div id="login_after">
					<i class="fas fa-user-circle"></i>
					<a>嗨！黃凱立</a>
					<div class="dropdown-content">
						<a href="myoil.html">我的油艙</a>
						<a href="order/order.html">立即下單</a>
						<a href="member.html">個人資料</a>
						<a href="history,html">歷史訂單</a>
						<a href="logout.html">登出</a>
					</div>
				</div>
			</ul>
		</nav>
	</header>
    <nav id="blocker"></nav>
    <main id="register">
        <div id="register_container">
            <p>信箱驗證</p>
            <form>
                <div class="register_containers">
                    <i class="fas fa-envelope"></i>
                    <input class="register_input" type="email" name="email" placeholder="電子郵件" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
					onchange="this.setCustomValidity(this.validity.patternMismatch ? '請輸入正確的信箱' : '');" required />
					<div class="register_icon_valid"><i class="fas fa-check-circle"></i><i class="fas fa-times-circle"></i></div>
                </div>
                <div id="register_agree">
                    <p>註冊表示您同意</p>
                    <a href="terms">服務條款</a>
                    <p>及</p>
                    <a href="rights">法律保護條款</a>
                    <p>。</p>
                </div>
                <div id="register_submit">
                    <input id="register_submit_input" type="submit" value="寄出驗證信" />
                </div>
            </form>
        </div>
    </main>
    <footer>
		<div id="bottom">
			<div id="bottom_container">
				<ul id="bottom_left">
					<li><a href="disclaimer.html">免責聲明</a></li>
					<li>|</li>
					<li><a href="terms.html">服務條款</a></li>
					<li>|</li>
					<li><a href="privacy.html">隱私權說明</a></li>
					<li>|</li>
					<li><a href="rights.html">法律保護條款</a></li>
				</ul>
				<p id="bottom_right">雲油科技股份有限公司 Copyright © 2021, Cloud Oil, All Rights Reserved</p>
			</div>
		</div>
	</footer>
</body>
</html>