<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="雲油，屬於您的雲端油艙。" />
	<meta name="author" content="黃凱立 Kenny Huang" />
	<meta name="keywords" content="雲油,期貨,避險,油價,石油,汽油 " />
	<meta http-equiv="Content-Type" content="text/html" charset="uft-8" />
	<meta http-equiv="Content-Language" content="zh-TW" />
	<meta http-equiv="Refresh" content="time" />
	<title>CloudOil</title>
    <link rel=stylesheet type="text/css" href="css/service.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e20183103.js" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
	<!-- d3js用 -->
	<script src="https://d3js.org/d3.v4.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<script src="js/menu.js"></script>
</head>
<body onload="menu()">
	<header>
		<nav id="top_container">
			<ul id="top_left">
				<a href="index"><img src="img/logo_whitepage.png" width="150px" /></a>
				<li><a href="about">關於雲油</a></li>
				<li><a href="service">提供服務</a></li>
				<li><a href="question">常見問題</a></li>
				<li><a href="index#contact">聯絡我們</a></li>
			</ul>
			<ul th:id="${isLogin} ? 'top_right_login':'top_right'">
                <div id="login_before">
                    <i class="fas fa-user-circle"></i>
                    <li><a href="login">登入</a></li>
                    <li>|</li>
                    <li><a href="register">註冊</a></li>
                </div>
                <div id="login_after">
                    <i class="fas fa-user-circle"></i>
                    <a th:text="'嗨！'+${chineseName}">嗨！黃凱立</a>
                    <div class="dropdown-content">
                        <a href="myoil">我的油艙</a>
                        <a href="order">立即下單</a>
                        <a href="member">個人資料</a>
                        <a href="history">歷史訂單</a>
                        <a href="logout">登出</a>
                    </div>
                </div>
            </ul>
		</nav>
	<!-- 手機版選單 -->
			<nav id="top_container_mobile">
				<div id="top_left_mobile">
					<a id="leftbtn" href="javascript:void(0)" onClick="document.getElementById('leftmenu').style.display='block'"><i class="fas fa-bars"></i></a>
					<div id="leftmenu">
						<a href="about">關於雲油</a>
						<a href="service">提供服務</a>
						<a href="question">常見問題</a>
						<a href="index#contact">聯絡我們</a>
					</div>
				</div>
				<div id="top_logo_mobile">
					<a href="index"><img src="img/logo_darkpage.png" width="150px" /></a>
				</div>
				<div id="top_right_mobile">
					<a id="rightbtn" href="javascript:void(0)" th:onClick="document.getElementById([[*{rightmenu}]]).style.display='block'"><i class="fas fa-user-circle"></i></a>
					<div th:id="${isLogin} ? 'rightmenu_login':'rightmenu'">
						<div id="login_before_mobile">
							<a href="login">登入</a>
							<a href="register">註冊</a>
						</div>
						<div id="login_after_mobile">
							<a href="myoil">我的油艙</a>
							<a href="order">立即下單</a>
							<a href="member">個人資料</a>
							<a href="history">歷史訂單</a>
							<a href="logout">登出</a>
						</div>
					</div>	
				</div>
			</nav>

	</header>
    <nav id="blocker"></nav>
    <main>
        <div id="title_container">
            <p>提供服務</p>
        </div>
        <div id="service_container">
            <div class="text">
                <p class="title">風險試算</p>
                <div class="text_container">
                    <aside id="service_img1"><img src="img/cacl.png" width="750px"/></aside>
                    <article id="service_text1">
                        <p>使用我們的風險試算功能，</p>
                        <p>計算避險期間可能發生的損益！</p>
                        <p>您可以在評估之後，再決定需不需要避險。</p>
                        <a href="index#calculate">試算去→</a>
                    </article>
                </div>
            </div>
			<!-- 手機版 -->
			<div id="text1_mobile">
                <p class="title">風險試算</p>
                <div class="text_container_mobile">
                    <img src="img/cacl.png" width="750px"/>
                    <div>
                        <p>使用我們的風險試算功能，</p>
                        <p>計算避險期間可能發生的損益！</p>
                        <p>您可以在評估之後，再決定需不需要避險。</p>
                        <a href="index#calculate">試算去→</a>
					</div>
                </div>
            </div>
			<!------------>
            <div class="text">
                <p class="title">線上下單</p>
                <div class="text_container">
                    <article id="service_text2">
                        <p>只需經過簡單線上註冊成為我們的會員，</p>
                        <p>就能在我們的網站線上下單預訂油。</p>
                        <p>您可以自由調整油種、油量、使用期間...等，</p>
                        <p>並且透過信用卡或簽帳金融卡即可付款。</p>
                        <a href="order">下單去→</a>
                    </article>
                    <aside id="service_img2"><img src="img/order.png" width="1000px"/></aside>
                </div>
            </div>
			<!-- 手機版選單 -->
			<div id="text2_mobile">
                <p class="title">線上下單</p>
                <div class="text_container_mobile">
					<img src="img/order.png" width="1000px"/>
                    <div>
                        <p>只需經過簡單線上註冊成為我們的會員，</p>
                        <p>就能在我們的網站線上下單預訂油。</p>
                        <p>您可以自由調整油種、油量、使用期間...等，</p>
                        <p>並且透過信用卡或簽帳金融卡即可付款。</p>
                        <a href="order">下單去→</a>
					</div>
                </div>
            </div>
			<!--------------->
            <div class="text">
                <p class="title">手機支付</p>
                <div class="text_container">
                    <aside id="service_img3"><img src="img/demophone.png" width="450px"/></aside>
                    <article id="service_text3">
                        <p>我們與中油pay合作，能夠使用手機行動支付付款。</p>
                        <p>只要出示「我的油艙」的QRCode給店家掃描，即可支付油錢。</p>
                        <p>預定的油需在預定當月使用完畢，</p>
                        <p>若有剩餘將會以一定的價差轉換為折價券。</p>
                        <div id="downloadApp">
                            <div id="app">
                                <img src="img/CPC.webp" width="70%"/>
                                <p>中油pay&nbsp;APP</p>
                            </div>
                            <div id="android">
                                <img src="img/android.png" width="100%"/>
                                <a href="https://play.google.com/store/apps/details?id=com.cpc.cpcpay&hl=zh_TW&gl=US"><img src="img/getongoogleplay.png" width="100%"/></a>
                            </div>
                            <div id="ios">
                                <img src="img/ios.png" width="100%"/>
                                <a href="https://play.google.com/store/apps/details?id=com.cpc.cpcpay&hl=zh_TW&gl=US"><img src="img/getonappstore.png" width="100%"/></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
			<!-- 手機版選單 -->
			<div id="text3_mobile">
                <p class="title">手機支付</p>
                <div class="text_container_mobile">
                    <img src="img/demophone.png" width="450px"/>
                    <div>
                        <p>我們與中油pay合作，能夠使用手機行動支付付款。</p>
                        <p>只要出示「我的油艙」的QRCode給店家掃描，即可支付油錢。</p>
                        <p>預定的油需在預定當月使用完畢，</p>
                        <p>若有剩餘將會以一定的價差轉換為折價券。</p>
                        <div id="downloadApp">
                            <div id="app">
                                <img src="img/CPC.webp" width="100%"/>
                                <p>中油pay&nbsp;APP</p>
                            </div>
                            <div id="android">
                                <img src="img/android.png" width="100%"/>
                                <a href="https://play.google.com/store/apps/details?id=com.cpc.cpcpay&hl=zh_TW&gl=US"><img src="img/getongoogleplay.png" width="100%"/></a>
                            </div>
                            <div id="ios">
                                <img src="img/ios.png" width="100%"/>
                                <a href="https://play.google.com/store/apps/details?id=com.cpc.cpcpay&hl=zh_TW&gl=US"><img src="img/getonappstore.png" width="100%"/></a>
                            </div>
                        </div>
						<!-- 手機模式專用 變直的 -->
						<div id="downloadApp_mobile">
                            <div id="app_mobile">
                                <img src="img/CPC.webp" width="100%"/>
                                <p>中油pay&nbsp;APP</p>
                            </div>
                            <div id="android_mobile">
                                <img src="img/android.png" width="100%"/>
                                <a href="https://play.google.com/store/apps/details?id=com.cpc.cpcpay&hl=zh_TW&gl=US"><img src="img/getongoogleplay.png" width="100%"/></a>
                            </div>
                            <div id="ios_mobile">
                                <img src="img/ios.png" width="100%"/>
                                <a href="https://play.google.com/store/apps/details?id=com.cpc.cpcpay&hl=zh_TW&gl=US"><img src="img/getonappstore.png" width="100%"/></a>
                            </div>
                        </div>
						<!------------->
                    </div>
                </div>
            </div>
			<!------------->
        </div>
    </main>
    <footer>
		<div id="bottom">
			<div id="bottom_container">
				<ul id="bottom_left">
					<li><a href="disclaimer">免責聲明</a></li>
					<li>|</li>
					<li><a href="terms">服務條款</a></li>
					<li>|</li>
					<li><a href="privacy">隱私權說明</a></li>
					<li>|</li>
					<li><a href="rights">法律保護條款</a></li>
				</ul>
				<p id="bottom_right">雲油科技股份有限公司 Copyright © 2021, Cloud Oil, All Rights Reserved</p>
			</div>
		</div>
	<div id="bottom_mobile">
			<div id="bottom_btn">
				<li><a href="disclaimer">免責聲明</a></li>
				<li>|</li>
				<li><a href="terms">服務條款</a></li>
				<li>|</li>
				<li><a href="privacy">隱私權說明</a></li>
				<li>|</li>
				<li><a href="rights">法律保護條款</a></li>
			</div>
			<p id="bottom_text">雲油科技股份有限公司 Copyright © 2021, Cloud Oil, All Rights Reserved</p>
		</div>
	</footer>
</body>
</html>