<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="雲油，屬於您的雲端油艙。" />
	<meta name="author" content="黃凱立 Kenny Huang" />
	<meta name="keywords" content="雲油,期貨,避險,油價,石油,汽油 " />
	<meta http-equiv="Content-Type" content="text/html" charset="uft-8" />
	<meta http-equiv="Content-Language" content="zh-TW" />
	<meta http-equiv="Refresh" content="time" />
	<title>CloudOil</title>
    <link rel=stylesheet type="text/css" href="css/sign.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e20183103.js" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
	<!-- d3js用 -->
	<script src="https://d3js.org/d3.v4.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
	<header>
		<nav id="top_container">
			<ul id="top_left">
				<a href="index.html"><img src="img/logo_homepage.png" width="150px" /></a>
				<li><a href="#about">關於雲油</a></li>
				<li><a href="#service">提供服務</a></li>
				<li><a href="#question">常見問題</a></li>
				<li><a href="index.html#contact">聯絡我們</a></li>
			</ul>
			<ul id="top_right">
				<i class="fas fa-user-circle"></i>
				<li><a href="sign.html">登入</a></li>
				<li>|</li>
				<li><a href="CloudOil/register.html">註冊</a></li>
			</ul>
		</nav>
	</header>
    <nav id="blocker"></nav>
    <main id="sign">
        <div id="sign_container">
            <p>會員登入</p>
            <form th:object="${customer}" th:action="@{/sign}" method ="post" >
                <div class="sign_containers">
                    <i class="fas fa-user-alt"></i>
                    <input th:field="*{username}" class="sign_input" type="account" name="username" placeholder="帳號"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? '帳號格式錯誤' : '');" required />
					<div class="sign_icon_valid"><i class="fas fa-check-circle"></i><i class="fas fa-times-circle"></i></div>
                </div>
                <div class="sign_containers">
                    <i class="fas fa-unlock-alt"></i>
                    <input th:field="*{password}" class="sign_input" type="password" name="password" placeholder="密碼"
                    onchange="this.setCustomValidity(this.validity.patternMismatch ? '密碼格式錯誤' : '');" required />
					<div class="sign_icon_valid"><i class="fas fa-check-circle"></i><i class="fas fa-times-circle"></i></div>
                </div>
                <center><div class="g-recaptcha" data-sitekey="6LfRTqUaAAAAAF7bZilgcKLQMXTXDSmGJyFvy4cH"></div></center>
                <div id="sign_submit">
                    <input id="sign_submit_input" type="submit" value="登入" />
                </div>
                <div id="sign_help">
                    <div id="sign_help_container">
                        <input type="checkbox" />
                        <p>記住我</p>
                        <a href="#forget">忘記密碼</a>
                    </div>
                    <div id="sign_help_toregister">
                        <p>還不是會員嗎？</p>
                        <a href="register">立即註冊</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
		<div id="bottom">
			<div id="bottom_container">
				<ul id="bottom_left">
					<li><a href="#disclaimer">免責聲明</a></li>
					<li>|</li>
					<li><a href="#terms">服務條款</a></li>
					<li>|</li>
					<li><a href="#privacy">隱私權說明</a></li>
					<li>|</li>
					<li><a href="#rights">法律保護條款</a></li>
				</ul>
				<p id="bottom_right">雲油科技股份有限公司 Copyright © 2021, Cloud Oil, All Rights Reserved</p>
			</div>
		</div>
	</footer>
</body>
</html>